table#players-table {
    border: 1px solid darkblue;

    border-collapse: collapse;
}

table#players-table th, table#players-table td {
    padding: 6px;

    font-size: .7rem;
}

table#players-table tbody {
    position: relative;
}

table#players-table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
